@import 'bootstrap.less';
@import 'variables.less';

// This hides jquery datepicker until user clicks the show details and expands a field,
// datepicker cannot attach itself to and invisible element or find its position.
#ui-datepicker-div {
  display: none;
}

span.form-required, span.asterick {
  color: #c7254e !important;
}

form {

  table tr td:first-child, thead tr th:first-child {
    display: none;
  }

  .approval-fieldset.panel.panel-default {
    border: 3px solid #ffffff;
  }

  .table {
    margin-bottom: 5px;
  }

  fieldset {
    padding-bottom: 0;
    .panel-body {
      padding-bottom: 5px;
      padding-top: 5px;
    }
  }

  .order-num,
  .date-submitted,
  .unit-id,
  .priority-level,
  .po-num,
  .last-job {
    .make-sm-column(4);
    .make-md-column(4);
    .make-lg-column(4);
  }

  .repair-message {
    padding-bottom: 20px;
  }

  .repairs-req, .parts-req {
    .make-sm-column(9);
    .make-md-column(9);
    .make-lg-column(9);
  }

  .time-req, .parts-price {
    .make-sm-column(3);
    .make-md-column(3);
    .make-lg-column(3);
  }

  .total-cost {
    .pull-right;
    .make-sm-column(3);
    .make-md-column(3);
    .make-lg-column(3);
  }

  .follow-up-alert, .submitted-by {
    .pull-left;
    .make-sm-column(4);
    .make-md-column(4);
    .make-lg-column(4);
  }

    .show-details, .cancel-btn-val {
      color: #d36a00;
      &:hover {
        text-decoration: underline;
        cursor: pointer;
        color: darken(#d36a00, 5%);
      }
    }

  .cancel-button {
    .make-sm-column(12);
    .make-md-column(12);
    .make-lg-column(12);

  }

  .approval-fieldset.panel.panel-default  {
    clear: both;
    border: 3px solid #ffffff;
  }

  .submit-button {
    margin-top: 32px;
    margin-left: 15px;
    .make-sm-column(3);
    .make-md-column(2);
    .make-lg-column(2);
  }

  .admin-approver {
    margin-bottom: 30px;
    .make-sm-column(4);
    .make-md-column(4);
    .make-lg-column(3);
  }
}



